.fertilizer-form-container {
  display: flex;
  justify-content: center;
}

.fertilizer-form {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
}

.form-topic {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
}

